<div class="category-container">
        <!-- NgFor="let c of category " 
        <button (click)= "onCategory(c.id)"> {{c.category}}-->
        <button routerLink="/products/product-card/1"> Computers </button>
        <button routerLink="/products/product-card/2"> Notebooks </button>
        <button routerLink="/products/product-card/3"> Acessories </button>
        <button routerLink="/products/product-card/4"> Smartphones </button>
        <button routerLink="/products/product-card/5"> Tablets </button>
</div>